/* inter-200 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/inter-v12-cyrillic_latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* inter-300 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v12-cyrillic_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* inter-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* inter-500 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v12-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/inter-v12-cyrillic_latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body{
    background: #101010;
    
}
.header{
        max-width: 1303px ;
        position: relative;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 20px;
}
a {
    text-decoration:none;
  }
.header_logo{

}
.header_list{
    display: flex;
    flex-wrap: wrap;
}
.header_item{
    margin-right: 91px;
    list-style-type: none;
}
.header_link{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    line-height: 30px;

    color: #FFFFFF;
}
.intro{
    padding-top: 430px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    row-gap: 7px;
    column-gap: 25px;
    
}

.rectangle_button1{
    box-sizing: border-box;

    
    width: 330px;
    height: 73px;
    

    opacity: 0.5;
    border: 2px solid #FFFFFF;
}
.intro_button1{
    
}
.intro_link{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;

    
}
.intro_item{
    position:relative;
    text-decoration: none;
    width:48%;
    height:100px;
    color:white;
    gap: 320px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
}

.smallbox_left{
    position:absolute;
    right:0px;
    width:330px;
    border: 2px solid #888888;
    margin-left: 427px;
    height: 73px;
    display: block;
    text-align: center;
    vertical-align: middle;
    margin-right: 130px;
}

.smallbox_right{
    position:absolute;
    left:0px;
    width:330px;
    border: 2px solid #888888;
    margin-right: 412px;
    height: 73px;
    display: block;
    text-align: center;
    vertical-align: middle;
    margin-left: 145px;
}

.fullbox_left{
    position:absolute;
    right:0px;
    width:410px;
    border: 2px solid #888888;
    height: 73px;
    display: block;
    text-align: center;
    vertical-align: middle;
    margin-right: 130px;
    margin-left: 347px;
}
.fullbox_right{
    position:absolute;
    left:0px;
    width:410px;
    border: 2px solid #888888;
    height: 73px;
    display: block;
    text-align: center;
    vertical-align: middle;
    margin-left: 145px;
    margin-right: 332px;
}

.photo_back_block{
    display: block;
    position: absolute;
    z-index: -1;
    height: 234px;
    right:0px;
    width: 100%;
    top: 459px;

}
.photo_back_flex{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
}
.photo_rectangle{
    width: 300px;
    height: 300px;
}
.text_intro_item{
    vertical-align: sub;
    text-decoration: none;
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;

opacity: 0.9;
}
.header_rectangle{
    margin-left: -41px;
    width: 1303px;
    height: 1px;
    left: 308px;
    top: 90px;
    background: #D9D9D9;
    opacity: 0.6;
}

.bottom{
    max-width: 1303px;
    padding-top: 353px;
    margin: auto;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 609px;

}
.item_bottom{
    text-decoration: none;
    list-style: none;
}
.header_item_bottom{
        font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}
.unheader_item_bottom{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #FFFFFF;
}
.rectangle_bottom_main{
    margin: auto;
    position: absolute;
    width: 1303px;
    height: 1px;
    margin-left:-41px;
    bottom: 91px;
    background: #D9D9D9;
    opacity: 0.6;
    
}
.contacts_bottom{
    display: flex;
    flex-wrap: wrap;
    column-gap: 7px;
    gap: 99px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}
.bottom_image_logo{
    display: block;
    position: absolute;
    z-index: -1;
    width: 99%;
}
.bottom_image_flex{
    display: flex;
    justify-content: center;

}
.social_bottom{
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}







/*СТРАНИЦА САУНД УСЛУГИ*/
.intro_sound_services{
    padding-top: 140px;
    width: 1385px;
    height: 475px;
    margin: auto;
}
.rectangle1{
    position: relative;
    width: 365px;
    height: 46px;
    left: 366px;


    background: #D9D9D9;
    opacity: 0.1;
    border-radius: 10px;
}
.rectangle2{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 479px;
    height: 60px;
    top: 23px;
    text-align: center;

   background:  #242424;
    border-radius: 10px;

}
.intro_sound_services_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;

    opacity: 0.5;
}
.rectangle3{
    
    display: flex;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    align-items: center;

    position: relative;
    width: 479px;
    height: 60px;
    left: 272px;
    top: 40px;

    background: #242424;
    border-radius: 10px;
}
.intro_sound_services_header_text{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 54px;

color: #FFFFFF;
}
.item_sound_services_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;

color: #FFFFFF;
}

.rectangle4{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 365px;
    height: 45px;
    left: 930px;
    top: -60px;

    background: #242424;
    border-radius: 10px;
}
.rectangle5{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 479px;
    height: 59px;
    left: 604px;
    top: 14px;

    background: #242424;
    border-radius: 10px;
}
.rectangle6{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 139px;
    top: 24px;
    width: 365px;
    height: 45px;
    

    background: #242424;
    border-radius: 10px;
}
.rectangle7{
    position: relative;
    width: 365px;
    height: 45px;
    left: 936px;
    top: 13px;

    background: #D9D9D9;
    opacity: 0.1;
    border-radius: 10px;
}
.rectangle8{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 365px;
    height: 45px;
    left: 880px;
    top: 40px;
    background: #242424;
    border-radius: 10px;
}
.rectangle9{
    position: relative ;
    width: 365px;
    height: 45px;
    left: 342px;
    top: 10px;

    background: #D9D9D9;
    opacity: 0.1;
    border-radius: 10px;
}
.rectangle10{
    position: relative;
    width: 3px;
    height: 657px;
    left: 969px;
    top: -520px;

    background: #D9D9D9;
    opacity: 0.15;
}
.rectangle11_container{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 302px;
}
.rectangle11{
    width: 423px;
    height: 1px;


    background: #D9D9D9;
    opacity: 0.3;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

/* КОНТЕЙНЕР КУРСЫ */

.course_container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;


    gap: 249px;
    height: 1080px;
    left: 0px;
    top: 1080px;

}
.image_course{
    
    width: 500px;
    height: 500px;
    left: 247px;
    top: 290px;
}
.course_header{
    text-align: center;
    display: flex;
    width: 800px;
    height: 500px;
    flex-direction: column;
    gap: 27px;

}
.course_name{

    width: 200px;
    height: 55px;
    left: 996px;
    top: 290px;

    background: #242424;
    border-radius: 10px;    
}
.course_name2{

    width: 677px;
    height: 55px;
    left: 996px;
    top: 1452px;

    background: #242424;
    border-radius: 10px;   
}
.course_info{
    text-align: left;
    width: 677px;
    word-wrap: break-word
    
    
}
.item_info_text{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: #FFFFFF;
}
.price_course{
    display: flex;
    gap: 32px;

    width: 587px;
    height: 68px;
    left: 1037px;
    top: 1802px;

}
.price_course_info{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    display: flex;
    text-align: center;
    align-items: center;

    width: 207px;
    height: 68px;

    border: 1px solid #FFFFFF;
}
.buy_course{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 348px;
    height: 68px;
    left: 1276px;
    top: 1802px;

    border: 1px solid #FFFFFF;
}

/* КОНТЕЙНЕР ПРЕСЕТЫ */
.presets_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;


    gap: 249px;
    height: 1080px;
    left: 0px;
    top: 1080px;
}

.image_presets{
    width: 500px;
    height: 500px;
    left: 247px;
    top: 290px;
}
.presets_header{
    text-align: center;
    display: flex;
    width: 800px;
    height: 500px;
    flex-direction: column;
    gap: 27px;

}
.presets_name{

    width: 297px;
    height: 55px;
    left: 996px;
    top: 2450px;

    background: #242424;
    border-radius: 10px;    
}
.presets_name2{

    width: 677px;
    height: 55px;
    left: 996px;
    top: 1452px;

    background: #242424;
    border-radius: 10px;   
}
.presets_info{
    text-align: left;
    width: 677px;
    word-wrap: break-word
}

.price_presets{
    display: flex;
    gap: 32px;
    width: 587px;
    height: 68px;
    left: 1037px;
    top: 1802px;

}
.price_presets_info{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    display: flex;
    text-align: center;
    align-items: center;

    width: 207px;
    height: 68px;

    border: 1px solid #FFFFFF;
}
.buy_presets{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 348px;
    height: 68px;
    left: 1276px;
    top: 1802px;

    border: 1px solid #FFFFFF;
}
.rectangle12_container{
    display: flex;
    justify-content: center;
    margin: auto;
}
.rectangle12{
    width: 117px;
    height: 1px;
    left: 901px;
    top: 3239px;

    background: #D9D9D9;
}


/* КОНТЕЙНЕР СВЕДЕНИЕ */
.mixing_container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;


    gap: 249px;
    height: 1080px;
    left: 0px;
    top: 1080px;
}

.image_mixing{
    width: 500px;
    height: 500px;
    left: 247px;
    top: 290px;
}
.mixing_header{
    text-align: center;
    display: flex;
    width: 800px;
    height: 500px;
    flex-direction: column;
    gap: 27px;

}
.mixing_name{

    width: 315px;
    height: 55px;
    left: 996px;
    top: 3530px;

    background: #242424;
    border-radius: 10px;    
}
.mixing_name2{

    width: 677px;
    height: 55px;
    left: 996px;
    top: 1452px;

    background: #242424;
    border-radius: 10px;   
}
.mixing_info{
    text-align: left;
    width: 677px;
    word-wrap: break-word
    
}

.price_mixing{
    display: flex;
    gap: 32px;
    width: 587px;
    height: 68px;
    left: 1037px;
    top: 1802px;

}
.price_mixing_info{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    display: flex;
    text-align: center;
    align-items: center;

    width: 207px;
    height: 68px;

    border: 1px solid #FFFFFF;
}
.buy_mixing{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 348px;
    height: 68px;
    left: 1276px;
    top: 1802px;

    border: 1px solid #FFFFFF;
}

/* КОНТЕЙНЕР ВОРКШОП */
.workshop_container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;


    gap: 249px;
    height: 1080px;
    left: 0px;
    top: 1080px;
}

.image_workshop{
    width: 500px;
    height: 500px;
    left: 247px;
    top: 290px;
}
.workshop_header{
    text-align: center;
    display: flex;
    width: 800px;
    height: 500px;
    flex-direction: column;
    gap: 27px;

}
.workshop_name{

    width: 315px;
    height: 55px;
    left: 996px;
    top: 4610px;

    background: #242424;
    border-radius: 10px;    
}
.workshop_name2{

    width: 677px;
    height: 55px;
    left: 996px;
    top: 1452px;

    background: #242424;
    border-radius: 10px;   
}
.workshop_info{
    text-align: left;
    width: 677px;
    word-wrap: break-word
    
}

.price_workshop{
    display: flex;
    gap: 32px;
    width: 587px;
    height: 68px;
    left: 1037px;
    top: 1802px;

}
.price_workshop_info{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    display: flex;
    text-align: center;
    align-items: center;

    width: 207px;
    height: 68px;

    border: 1px solid #FFFFFF;
}
.buy_workshop{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 348px;
    height: 68px;
    left: 1276px;
    top: 1802px;

    border: 1px solid #FFFFFF;
}
.bottom2{
    max-width: 1303px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 609px;
    margin-top: 30px;
}











/* СТРАНИЦА ОДЕЖДА */

.intro_container{
    margin: auto;
    display: flex;
    width: 1303px;
    height: 557px;
    flex-direction: column;
    gap: 81px;
    margin-top: 265px;
}

.intro_text_container{
    display: flex;
    align-items: center;
    width: 1303px;
    justify-content: center;
    height: 143px;
    left: 309px;
    top: 265px;

    background: #FFFFFF;
}
.intro_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 242px;
    /* identical to box height */


    color: #101010;

}
.rectangle13{
    position: relative;
    width: 219px;
    height: 1px;
    margin: auto;
    top: 257px;

    background: #D9D9D9;
}

.item_box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1080px;
    gap: 113px;
    margin-top: 187px;
}
.cloth_container{
    display: flex;
    gap: 14px;
}
.cloth_container1{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 427px;
   
}
.cloth_list{
    text-decoration: none;
    list-style: none;
}
.cloth_container2{
    width: 452px;
    height: 452px;
    
}
.cloth_container3{

    width: 453px;
    height: 359px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.name_cloth{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
}
.item_text_cloth{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;
}
.recommendation_cloth{
    margin-top: 10px;
}
.buy_cloth_container{
    display: flex;
    width: 318px;
    height: 64px;
    gap: 11px;
    flex-wrap: nowrap;
}
.buy_cloth_container1{
    display: flex;
    width: 164px;
    height: 64px;
    flex-direction: column;
    gap: 6px;
}
.price_cloth_container{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    width: 164px;
    height: 29px;
    left: 1073px;
    top: 1612px;

    border: 1px solid #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #FFFFFF;
}
.size_chart{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    width: 164px;
    height: 29px;
    left: 1073px;
    top: 1647px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #FFFFFF;

    border: 1px solid #FFFFFF;
}
.buy_cloth_container2{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 143px;
    height: 64px;
    left: 1248px;
    top: 1612px;

    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.rectangle14{
    margin: auto;
    width: 279px;
    height: 1px;

    background: #D9D9D9;
}

.item_box2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1080px;
    gap: 113px;

}

.rectangle_bottom{
    width: 1303px;
    height: 1px;
    left: 306px;
    top: 3099px;
    background: #D9D9D9;
    opacity: 0.6;
}
.bottom_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom_image_logo2{
    display: block;
    position: absolute;
    z-index: -1;
    width: 99%;
    top: 3290px;
}
.bottom_image_logo3{
    display: block;
    position: absolute;
    z-index: -1;
    width: 99%;
    top: 5440px;
}




/* СТРАНИЦА МУЗЫКА */

.intro_container2{
    margin: auto;
    width: 1013px;
    height: 1700px;
    left: 306px;
    top: 161px;

}

.header_text_sound_container{
    position: relative;
    width: 690px;
    height: 87px;
    left: -222px;
    top: 75px;
    color: #000000;

    background: #FFFFFF;

}
.header_text_sound{
    display: flex;
    align-items: center;
    width: 690px;
    height: 87px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 97px;
    margin-left: 31px;
}

.main_albums_container{
    display: flex;
    position: relative;
    left: -222px;
    top: inherit;
    width: 294px;
    gap: 50px;
    height: 320px;
    flex-direction: column;
    
    
}

.albums_text_container{
    
    background: #FFFFFF;
    width: 291px;
    height: 70px;

    color: #000000;
}
.albums_text{
    display: flex;
    align-items: center;
    margin-left: 31px;
    background: #FFFFFF;
    width: 291px;
    height: 70px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;

    color: #000000;
}
.albums{
    box-sizing: border-box;

    width: 200px;
    height: 200px;

    border: 1px solid #FFFFFF;
}
.text_name_sound{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #FFFFFF;
}
.albums_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main_single_container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    left: -222px;
    top: inherit;
    margin-top: 75px;
}

.single_text_container{
    
    width: 252px;
    height: 70px;


    background: #FFFFFF;

    color: #000000;
}
.single_text{
    display: flex;
    align-items: center;
    margin-left: 31px;
    width: 252px;
    height: 70px;


    background: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;

    color: #000000;
}

.single_container{
    display: flex;
    width: 1010px;
    height: 752px;
    flex-wrap: wrap;
    gap: 70px;
}

.frame_image_sound{
    width: 200px;
    height: 200px;
}
.track1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom_image_logo4{
    display: block;
    position: absolute;
    z-index: -1;
    width: 99%;
    top: 1820px;
}





/* СТРАНИЦА ВЫСТУПЛЕНИЯ */

.speeches_header_container{
    display: flex;
    width: 1303px;
    gap: 73px;
    margin: auto;
    flex-direction: column;
    height: 538px;
    margin-top: 75px;
}
.speeches_header_text{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: -85px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 97px;
    color: #101010;
    width: 1130px;
    height: 115px;
    background: #FFFFFF;

}

.header_image{
    flex-direction: column;
    gap: 6px;

    margin-left: -85px;
    justify-content: center;
    display: flex;
    height: 350px;
    background-image: url(../img/militour.png);
}
.header_image_text1{
    margin-left: 247px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */


    color: #FFFFFF;
}
.header_image_text2{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 54px;
    margin-left: 387px;

    color: #FFFFFF;
}

.concert_info{
    display: flex;
    flex-direction: column;
    gap: 81px;
    position: relative;
    width: 1183px;
    margin: auto;
    height: 522px;
    margin-top: 135px;
}
.header_concert_info{
    display: flex;
    flex-wrap: nowrap;
    

}

.header_concert_info_text{
    list-style: none;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    width:25%;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;

    opacity: 0.9;
}

.concert_info_text{
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    width:25%;
    color: #FFFFFF;

    opacity: 0.9;
}

.maincontainer{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}

.concert1{
    display: flex;
    margin-left: 20px;
}
.concert2{
    display: flex;
    margin-left: 20px;
}
.concert3{
    display: flex;
    margin-left: 20px;
}

.rectangle_concert_info{
    display: flex;
    position: absolute;
    top:85px;
    flex-direction: column;
    gap: 116px;
}
.rectangle_concert{
    width: 1183px;
    height: 3px;
    

    background: #D9D9D9;
    opacity: 0.3;
}

.bottom3{
    max-width: 1303px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 609px;
    margin-top: 161px;
}
.bottom_image_logo5{
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 1880px;
}
    


/* 
СТРАНИЦА КОНТАКТЫ */

.contacts_container{
    display: flex;
    flex-direction: column;
    gap: 95px;
    margin-right: 338px;
    margin-top: 70px;
    width: 1060px;
    height: 634px;

}
.media_container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.media_text{
    display: flex;
    align-items: center;
    width: 690px;
    height: 87px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 97px;
    /* identical to box height */


    color: #000000;

    background: #FFFFFF;
}

.media_image{
    width: 140px;
    height: 140px;
    list-style: none;
    opacity: 0.9;
    border: 4px solid #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.media_icon{
    display: flex;
    gap: 90px;
}

.booking_text{
    display: flex;
    align-items: center;
    width: 985px;
    height: 87px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 97px;
    /* identical to box height */
    
    
    color: #000000;
    
    background: #FFFFFF;
    }
.booking_container{
    display: flex;
    flex-direction: column;
    gap: 62px;  
}
.contacts_info{
    display: flex;
    flex-direction: row;
    gap: 62px;

}
.contacts_info2{
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.contacts_info2_text{
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;

    color: #FFFFFF;

}


.contacts_icon{
    display: flex;
    gap: 65px;
}

.booking_image{
    width: 115px;
    height: 115px;


    opacity: 0.9;
    border: 4px solid #FFFFFF;
    list-style: none;
    opacity: 0.9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bottom_image_logo6{

    display: block;
    position: absolute;
    z-index: -1;
    width: 99%;
    top: 955px;

}
.bottom_div{
    display:block;
    position:relative;


}




.button_buy{

    color: #0075B2; /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчёркивание у ссылок */

      
}

.button_buy:visited {
    color: #ffffff; /* Цвет посещённой ссылки */
   } 
.button_buy:hover {
    color: #00f0fd;
    text-shadow: 0 0 4px #39f3fd;
}